<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <%-include("./partials/header.ejs")%>
    <h2>Welcome to EJS</h2>
    <%-include("./partials/about.ejs")%>
   <table border="1">
    <thead>
        <th>Name</th>
        <th>Roll No</th>
        <th>Program</th>
        <th>Semester</th>
    </thead>

    <tbody>
        <% data.forEach(item=>{ %>
           <tr>
             <td><%=item.name%></td>
             <td><%=item.RollNo%></td>
             <td><%=item.program%></td>
             <td><%=item.Sem%></td>
           </tr>
       <% })%>
    </tbody>
   </table>

   <%-include("./partials/footer.ejs")%>
</body>
</html>